/.htaccess
/.htaccess.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/CONTRIBUTING.md
/CONTRIBUTOR_LICENSE_AGREEMENT.html
/COPYING.txt
/Gruntfile.js
/LICENSE.txt
/LICENSE_AFL.txt
/app/code/Magento
/app/design/adminhtml/Magento
/app/design/frontend/Magento
/app/etc
/app/i18n
/app/*.*
/bin/
/dev/
/index.php
/lib/
/nginx.conf.sample
/package.json
/php.ini.sample
/pub/
/setup/
/update/
/var/
/vendor/
